#include "src/resource.h"
#include <windows.h>

IDD_MAIN DIALOGEX 122,75,280,300
CAPTION "任务管理器"
FONT 9,"宋体",400,0,0
MENU IDR_MENU_MAIN
LANGUAGE 4,2
STYLE WS_OVERLAPPEDWINDOW|WS_VISIBLE|DS_CENTER
BEGIN
  CONTROL "",IDC_LSV_PROCESS,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_SHOWSELALWAYS|LVS_SINGLESEL|LVS_REPORT,12,9,255,246,WS_EX_CLIENTEDGE
  CONTROL "结束进程(&E)",IDC_BTN_KILL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,213,261,54,15
  CONTROL "刷新(&R)",IDC_BTN_REFRESH,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,150,261,54,15
  CONTROL "",IDC_SBR,"msctls_statusbar32",WS_CHILDWINDOW|WS_VISIBLE|CCS_BOTTOM,-3,297,54,15
END

IDR_MENU_MAIN MENU
LANGUAGE 4,2
BEGIN
  POPUP "文件(&F)"
  BEGIN
    MENUITEM "运行(&N)",IDM_RUN
    MENUITEM "以基本用户运行(&L)",IDM_RUNASLIMIT
    MENUITEM SEPARATOR
    MENUITEM "退出(&X)",IDM_EXIT
  END
  POPUP "选项(&O)"
  BEGIN
    MENUITEM "窗口置顶(&A)",IDM_TOPMOST
    MENUITEM "自动刷新(&F)",IDM_AUTOREFRESH,CHECKED
	MENUITEM "显示进程命令行(&C)",IDM_SHOWCMDLINE
  END
  POPUP "查看(&V)"
  BEGIN
    MENUITEM "系统信息(&S)",IDM_SYSINFO
  END
  POPUP "工具(&T)"
  BEGIN
    MENUITEM "释放内存(&C)",IDM_EMPTYALL
  END
  POPUP "帮助(&H)"
  BEGIN
    MENUITEM "关于(&A)",IDM_ABOUT
  END
END

IDR_MENU_CONTEXT MENU
LANGUAGE 4,2
BEGIN
  POPUP "POPUP"
  BEGIN
    MENUITEM "打开文件位置(&O)",IDM_OPENLOCATION
    MENUITEM SEPARATOR
    MENUITEM "结束进程(&E)",IDM_KILL
    MENUITEM "释放内存(&C)",IDM_EMPTYMEM
    MENUITEM SEPARATOR
    MENUITEM "暂停进程运行(&S)",IDM_SUSPEND
    MENUITEM "恢复进程运行(&R)",IDM_RESUME
    MENUITEM SEPARATOR
    MENUITEM "复制进程命令行(&L)",IDM_COPYCMDLINE
    MENUITEM SEPARATOR	
    MENUITEM "属性(&P)",IDM_PROPERTIES
  END
END

IDR_ACCEL ACCELERATORS
LANGUAGE 4,2
BEGIN
  116,IDC_BTN_REFRESH,VIRTKEY,NOINVERT
END

IDR_VERSION VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
      VALUE "CompanyName", "GY Studio\0"
      VALUE "FileDescription", "TaskManager\0"
      VALUE "InternalName", "TaskManager\0"
      VALUE "LegalCopyright", "CopyRight (C) 2011 GYQM\0"
      VALUE "OriginalFilename", "TaskManager.exe\0"
      VALUE "ProductName", "TaskManager\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 0x04B0
  END
END

IDI_ICONAPP ICON DISCARDABLE "res/task.ico"

IDR_XPMANIFEST MANIFEST "res/xpmanifest.xml"

